html, body {
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  padding: 24px 24px 0;
  box-sizing: border-box;
}
.list {
  display: flex;
	flex-wrap: wrap;
  padding-top: 12px;
  margin-left: -4px;
  width: calc(100vw - 40px);
}
.list form {
  flex: 1 1 100%;
  margin: 4px;
}
.list a,
.list button {
  border-radius: 12px;
  border: 3px solid #000;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  text-align: center;
  padding: 30px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.list a:active,
.list button:active {
  background-color: #EEE;
}

input[type="hidden"][data-case="blackandwhite"] + button {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
input[type="hidden"][data-case="blackandwhite"] + button span {
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(100% - 3px);
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  margin-top: -15px;
  z-index: 2;
  background: linear-gradient(to right, #FFF calc((100% + 3px) / 2), #000 calc((100% - 3px) / 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input[type="hidden"][data-case="blackandwhite"] + button::before,
input[type="hidden"][data-case="blackandwhite"] + button::after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  z-index: 1;
}
input[type="hidden"][data-case="blackandwhite"] + button::before {
  background-color: #000;
  left: 0;
}
input[type="hidden"][data-case="blackandwhite"] + button::after {
  background-color: #FFF;
  right: 0;
}

.loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.loading.show {
  display: block;
}
.loading .bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
.loading p {
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  height: 34px;
  font-size: 30px;
  line-height: 30px;
  margin-top: -17px;
  text-align: center;
  color: #FFF;
}