html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
.clock {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw / 1.6);
  height: calc(100vw / 1.6);
  border-radius: calc(100vw / 1.6);
  box-shadow: rgba(0,0,0,0.09) 0 8px 24px;
  .inner {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100vw / 2);
    height: calc(100vw / 2);
    border-radius: calc(100vw / 2);
    box-shadow: rgba(0,0,0,0.05) 0 8px 24px inset;
    .hour {
      position: absolute;
      width: calc(100vw / 90);
      height: calc(100vw / 8);
      margin: auto;
      top: -25%;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      transform-origin: bottom;
      transform: rotate(0deg);
    }
    .minute {
      position: absolute;
      width: calc(100vw / 150);
      height: calc(100vw / 7);
      margin: auto;
      top: -28%;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      transform-origin: bottom;
      transform: rotate(90deg);
    }
    .second {
      position: absolute;
      width: calc(100vw / 200);
      height: calc(100vw / 6);
      margin: auto;
      top: -32%;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      transform-origin: bottom;
      transform: rotate(180deg);
    }
  }
  // center circle
  &::after {
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100vw / 50);
    height: calc(100vw / 50);
    border-radius: calc(100vw / 50);
    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.09) 0 2px 2px inset;
  }
}
